<!DOCTYPE html>
<html>
<head>
    <title>Career Page</title>
    <link rel="stylesheet" href="../style.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
</head>
<body>
    <h1>Welcome to my Career Page </h1>
    <p>This has images of where I hope to be in my career in the near future</p>
    <img class="interest" src="https://live.staticflickr.com/5555/14816915219_f0423bba0a.jpg" alt="Big Data Graphic tech technology"></img>
    <p>Since I am interested in Tech, I hope to be working with data a lot</p>

    <h2>These are the companies I hope to be working at!</h2>
    <img class="interest" src="https://live.staticflickr.com/3903/14790476531_46c282ccc9.jpg"  alt="Microsoft"></img>
    <img class="interest" src="https://live.staticflickr.com/7327/11730565883_dc4febbe07.jpg"  alt="Google"></img>
    <img class="interest" src="https://live.staticflickr.com/4364/36615202343_6c3eca7c38.jpg" alt="TESLA"></img>
    <img class="interest" src="https://live.staticflickr.com/7568/15623878617_3b687e5ba6.jpg" alt="Facebook Sign 2 - Menlo Park"></img>

    <p>These are a selected few companies I hope to work at. I might not be sure of where I will end up, but I hope it's a good company!</p>
    <a href="index.html"> Go to Home Page</a>
    
</body>
</html>