<!DOCTYPE html>
<html>
<head>
    <title>Dream House Page</title>
    <link rel="stylesheet" href="../style.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
</head>
<body>
    <h1>Welcome to my Dream House Page </h1>
    <p>This has images of home I hope to have in the future</p>

    <h2>Description</h2>
    <p class="p">I have always been interested in houses that are small and intimate. It has to be a house that has enough rooms for the family but also not too big. I would want a lively home that is in a good neighborhood.</p>
    

    <h2 Exterior</h2>
    <ol>
        <li>
            <img class="interest" src="https://live.staticflickr.com/5081/5312115145_fb93185cff.jpg"  alt="Beautiful House"></img>
            <p>I am in love with the colors on this house. They are full of life and personality!</p>
        </li>
        <li>
            <img class="interest" src="https://live.staticflickr.com/4100/4748370426_93c3036edf.jpg" alt="Beautiful House"></img>
            <p>I love the brickwork on the house and it looks like it's the perfect size</p>
        </li>
        <li>
            <img class="interest" src="https://live.staticflickr.com/2167/2526092919_e67b4a9a37.jpg"  alt="Beautiful House"></img>
            <p>I love the grey color. It looks classy and homely!</p>
        </li>
        <li>
            <img class="interest" src="https://live.staticflickr.com/7375/28024976562_4f3cd88f89.jpg" alt="Villa_U"></img>
            <p>This house is interesting because it is beyond my comfort zone but it looks way too beautiful for me to not fall in love with it.</p>
        </li>
    </ol>

    <h2>Interior</h2>
    <ul>
        <li>
            <img class="interest" src="https://live.staticflickr.com/3901/14474878179_e6f89c1561.jpg"  alt="Palm Springs home"></img>
            <p>I am all for intimate setups therefore this dining room stood out to me.</p>
        </li>
        <li>
            <img class="interest" src="https://live.staticflickr.com/5047/5200670283_8ec79d03d9.jpg" alt="Untitled"></img>
            <p>I love the colors in this living room. It looks beautiful, intimate and comfortable </p>
        </li>
        <li>
            <img class="interest" src="https://live.staticflickr.com/1073/1369677735_436042018d.jpg" alt="Living rooms"></img>
            <p>This living room is very colorful and lovely.</p>
        </li>
        <li>
            <img class="interest" src="https://live.staticflickr.com/7455/9363226297_aa7a16fe5a.jpg" alt="Apartment Living Rooms"></img>
            <p>A very classy living room!</p>
        </li>
        <li>
            <img class="interest" src="https://live.staticflickr.com/4536/38411268192_23c0e0aec6.jpg"  alt="Beautiful Kitchen"></img>
            <p>Since I love cooking, having a beautiful kitchen is at the top of my list and this kitchen is just breathtaking</p>
        </li>
        <li>
            <img class="interest" src="https://live.staticflickr.com/5600/15068636784_340855999c.jpg" alt="Beautiful white kitchen design wallpapers"></img>
            <p>This kitchen is more on the classy side and I love it for it's sophistication</p>
        </li>
    </ul>

    <a href="index.html"> Go to Home Page</a>
    
</body>
</html>