<!DOCTYPE html>
<html>
<head>
    <title>Dream Car Page</title>
    <link rel="stylesheet" href="../style.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
</head>
<body>
    <h1>Welcome to my Dream Car Page </h1>
    <h2>This page has images of cars I wish to own at some point.</h2>
    <p >Since I am interested in Tech, be rest assured I want a smart car :)</p>

    <h2>These are the cars I am currently in love with!</h2>
    <img class="interest" src="https://live.staticflickr.com/4432/36795373191_eb00031d6c.jpg"  alt="TESLA"></img>
    <img class="interest" src="https://live.staticflickr.com/65535/52066731796_a1b7f63482.jpg" alt="LAND ROVER RANGE ROVER SPORT 2023"></img>
    <img class="interest" src="https://live.staticflickr.com/65535/52015095833_9cf01de244.jpg" alt="2023-Mercedes-EQS-SUV-16"></img>
    <img class="interest" src="https://live.staticflickr.com/4511/37281794894_fde21447fb.jpg" alt="TESLA"></img>

    <p>After looking at my pictures, I think I am more of a Tesla fan than any other other brand!</p>
    <a href="index.html"> Go to Home Page</a>
    
</body>
</html>