<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dream Wall</title>
    <link rel="stylesheet" href="../style.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
     <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  </head>

  <body>
      
    <h1>Welcome to the Dream Wall </h1>
    <h2>This wall sheds some light into my personality. It has information about what I like and my hopes and aspirations!</h2>

    <p>Below this you will find links to some aspects of my life.</p>
    <ul>
      <li><a href="Interests-page.html"> Go to Interests Page</a></li>
      <li><a href="travel-page.html"> Go to Travel Page</a></li>
      <li><a href="career-page.html"> Go to Career Page</a></li>
      <li><a href="dream-house.html"> Go to Dream House Page</a></li>
      <li><a href="dream-car.html"> Go to Dream Car Page</a></li>
    </ul>
    
    
  </body>
</html>