<!DOCTYPE html>
<html>
<head>
    <title>Current Interests Page</title>
    <link rel="stylesheet" href="../style.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
</head>
<body>
    <h1>Welcome to my Interests Page </h1>
    <h2>This page shed a little light into my interests!</h2>
    <p class="p">For the longest of time, I have always tried to fit into other people's interests and never saw the importance of nurturing mine.
        I am currently loving every part of me and I am not ashamed of any part of my interests.
    </p>

    <h2>Gaming</h2>
    <p>I recently developed an interest in gaming and I have been loving it.</p>
    <h3>Current list of games I like</h3>
    <ul>
        <p class="heading"> The Last of Us 2</p>
        <li>
            <p>Favorite character: <b>Ellie</b></p>
            <img class="interest" src="//live.staticflickr.com/65535/50040416871_038358f78b_c.jpg" title="The Last of Us™ Part II_20210325100036"></img>
            <img class="interest" src="https://live.staticflickr.com/65535/51067639893_3713fe1261.jpg" alt="The Last of Us™ Part II_20210323090224"></img>
        </li>

        <p class="heading"> The Last of Us 1</p>
        <li>
            <p>Favorite character: <b>Ellie</b></p>
            <img class="interest" src="https://live.staticflickr.com/65535/51299419848_405321d858.jpg" alt="The Last of Us™ Remastered_20181115204536"></img>
            <img class="interest" src="https://live.staticflickr.com/692/22611439085_48bd950c0b.jpg"  alt="The Last of Us™ Remastered_20151028013436"></img>
        </li>

        <p class="heading"> God of War 4</p>
        <li>
            <p>Favorite character: <b>Atreus</b></p>
            <img class="interest" src="https://live.staticflickr.com/4515/37967280435_ddb9a6499d.jpg" alt="God of War çıkış tarihi görüldü!"></img>
            <img class="interest" src="https://live.staticflickr.com/1724/27899976757_9e68ed4e6f.jpg" alt="God of War"></img>
        </li>    

        <p class="heading"> Uncharted 4</p>
        <li>
            <p>Favorite character: <b>Nathan</b></p>
            <img class="interest" src="https://live.staticflickr.com/7368/27263345731_7bc9989fde.jpg" alt="Uncharted™ 4_ A Thief’s End_20160528222907"></img>
            <img class="interest" src="https://live.staticflickr.com/7421/27263433961_5a7a4a9a26.jpg" alt="Uncharted™ 4_ A Thief’s End_20160528103255"></img>

        </li>

        <p class="heading"> It takes two</p>
        <li>
            <p>Favorite character: <b>Cody</b></p>
            <img class="interest" src="../img/takes.png" alt="It takes 2"></img>
            <img class="interest" src="../img/takes 2.jpeg" alt="It takes 2"></img>
    
 
        </li>
         <p class="heading"> Sackboy</p>
        <li>
            <img class="interest" src="https://live.staticflickr.com/3341/3624502705_a6ab94a61d.jpg" alt="Sackboy"></img>
            <img class="interest" src="https://live.staticflickr.com/8628/16253369341_baa7def61d.jpg" alt="Sackboy"></img>
            
        </li>
        <p class="heading"> Detroit: Become Human</p>
        <li>
            <p>Favorite character: <b>Kara</b></p>
            <img class="interest" src="https://live.staticflickr.com/65535/50034983241_6c86b1830a.jpg" alt="Future Lies"></img>
            <img class="interest" src="https://live.staticflickr.com/65535/50084309337_38615051e2.jpg" alt="Artistic Eye"></img>
            
        </li>
        <p class="heading"> The Walking Dead: Chapter 1</p>
        <li>
            <img class="interest" src="https://live.staticflickr.com/5629/20928496465_80795997af.jpg" alt="The Walking Dead_ Season 1_20150822194348"></img>
            <img class="interest" src="https://live.staticflickr.com/8694/27887505633_b6261283a2.jpg" alt="The Walking Dead: Season Two - 95655"></img>
            
        </li>
    </ul>
    <h2>Painting</h2>
        <p>I love using my iPad to paint because I have access to a lot of things on one device. There just seems to be something I love about
        starting something from scratch and seeing it come to life. </p>
        <img class="interest" src="https://live.staticflickr.com/3203/3068275135_cd64e126ff.jpg" alt="Old drawing"></img>
        <img class="interest" src="https://live.staticflickr.com/5754/22498262321_45b3684342.jpg" alt="Drawing"></img>

    <h2>Cycling</h2>
        <p>It is always important to incorporate some form of exercise in your life and I love the fact that cycling is both fun and good for my physical health</p>
        <img class="interest" src="https://live.staticflickr.com/3559/3497674251_a976c2a8ef.jpg" alt="Cycling"></img>
        <img class="interest" src="https://live.staticflickr.com/334/18479529969_e616a8bb15.jpg" alt="Cycling Oxford"></img>
    
    <h2>Skating</h2>
        <p>I recently fell in love with skating but I am currently struggling with it. I hope I will improve in it as time goes!</p>
        <img class="interest" src="https://live.staticflickr.com/48/183815966_22cd58a0e6.jpg" alt="roller skater"></img>
        <img class="interest" src="https://live.staticflickr.com/8264/8629841493_72325c716e.jpg" alt="untitled-81.jpg"></img>
    
    <h2>Music</h2>
        <p>Music has always been an integral part of my life. I view it as an art and I love how it can easily impact people's emotions. 
            Nomatter what emotional state I am in, I can always find a song to listen to. I am versatile when it comes to music genres.  </p>
        <ul>
            <p class="heading"> Music genres I love:</p>
            <li>Pop</li>
            <li>Acoustic</li>
            <li>Afro-pop</li>
            <li>Reggae</li>
            <li>Soul</li>
            <li>Old School</li>
        </ul>

    <h2>Movies</h2>
        <p>I love watching movies because it shows how far our imagination can take us. The top movies I fell in love with are:</p>
        <ul>
            <li>Interstellar</li>
            <li>The Martian</li>
            <li>Infinity War</li>
            <li>Endgame</li>
            <li>Ex Machina</li>
            <li>Wall E</li>
            <li>The Fault In Our Stars</li>
            <li>Gravity</li>
            <li>The Gods Must Be Crazy</li>
        </ul>

    <p>I look forward to finding more interests!</p>
    <a href="index.html"> Go to Home Page</a>
    
</body>
</html>