<!DOCTYPE html>
<html>
<head>
    <title>Travel Page</title>
    <link rel="stylesheet" href="../style.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
     <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
</head>
<body>
    <h1>Welcome to my Travel Page </h1>
    
    <p class="p">I noticed that there is more to know about life in this world. Being confined into one environment limits the amount of knowledge and growth you can have. For example, travelling
        to other countries would help you learn new cultures and unlearn some toxic aspects of the culture you grew up in. There is beauty in seeing things in a world's perspective. It 
        can help show you that your problems are not as big as you think and help you learn of ways you can solve them.
        <b>Travelling can surely open your eyes to a whole new world!</b>
    </p>

    <h2>These are the places I would like to visit before I die!</h2>
    <ul>
        <h2> Bali</h2>
        <li>
            <img class="interest" src="https://live.staticflickr.com/4331/35813296714_8db71b7aa7.jpg" alt="Bali"></img>
            <img class="interest" src="https://live.staticflickr.com/637/21415016438_db785f38a7.jpg" alt="Bali"></img>
        </li>

        <h2> Hawaii</h2>
        <li>
            <img class="interest" src="https://live.staticflickr.com/680/32355177924_8570c22c0a.jpg" alt="Hawaii"></img>
            <img class="interest" src="https://live.staticflickr.com/2908/33876645841_d2551a595d.jpg" alt="Hawaii"></img>
        </li>

        <h2> Cape Town</h2>
        <li>
            <img class="interest" src="https://live.staticflickr.com/65535/51748212863_4f55c53c65.jpg" alt="Cape Town at dusk"></img>
            <img class="interest" src="https://live.staticflickr.com/2936/13541564704_12c232b347.jpg" alt="Cape Town street"></img>
        </li>

        <h2> Indonesia</h2>
        <li>
            <img class="interest" src="https://live.staticflickr.com/7291/16498290191_cd0a9049d4.jpg"  alt="Indonesia"></img>
            <img class="interest" src="https://live.staticflickr.com/2755/5841343325_60e8a9bfc3.jpg" alt="indonesia"></img>
        </li>

        <h2> Cancun</h2>
        <li>
            <img class="interest" src="https://live.staticflickr.com/65535/51335203329_dd64cb8998.jpg" alt="Cancun"></img>
            <img class="interest" src="https://live.staticflickr.com/8644/15851257045_2b73e31fc4.jpg" alt="Mexico"></img>
        </li>

        <h2> Japan</h2>
        <li>
            <img class="interest" src="https://live.staticflickr.com/4769/40406530982_55001c25ce.jpg" alt="Temple"></img>
            <img class="interest" src="https://live.staticflickr.com/3766/20121138512_3fabfb7d77.jpg" alt="japan"></img>
        </li>
    </ul>
    <p>I cannot wait to travel to these and more other places!</p>

    <a href="index.html"> Go to Home Page</a>
    
</body>
</html>